.notfound {
    width: 96%;
    height: calc(100vh - 16vh);
    margin: auto;
    background: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .notfound__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        .notfound__text {
            padding: 50px;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .texts {
                h1 {
                    font-size: 3.3rem;
                }
                h2 {
                    font-size: 3.5rem;
                    font-weight: 300;
                }
                p {
                    padding: 10px 0;
                    width: 500px;
                }
            }
            button {
                width: 200px;
                padding: 8px;
                background-color: blue;
                border: none;
                color: white;
                border-radius: 5px;
                font-size: 18px;
                cursor: pointer;
            }
        }
        .notfound__img {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            padding-right: 100px;
            width: 630px;
            height: 530px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
